.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='./')  panX: Pan-genome analysis & exploration
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='./S_pneumoniae616') Applications
        li
          a(href='pipeline') Methods
        li
          a(href='./#downloads') Downloads
        li
          a(href='#contacts') How to run
        li.active
          a(href='tutorial') Tutorials
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#contacts')  Contact
