// Plausible.io analytics (https://plausible.io/)

script(
  id="plausible",
  defer,
  data-domain="#{PLAUSIBLE_IO_DOMAIN}",
  src="https://plausible.io/js/script.hash.outbound-links.file-downloads.compat.js"
)
