footer.footer-distributed
      .footer-left
        img(src='images/pan-white-out.svg', style='width:233;height:209px')
        p.footer-links
          a(href='#') Applications
          |         ·
          a(href='#') Pipeline
          |         ·
          a(href='#') Tutorials
        p.footer-company-name  Web application: design by Wei Ding and Richard Neher
        p.footer-company-name  Web application: implementation by Wei Ding
        p.footer-company-name  Logo: design by Wei Ding and Meng Chen
      .footer-center
        div
          i.fa.fa-map-marker
          p
            span  Max Planck Institute for Developmental Biology
            span  Spemannstrasse 35, 72076 Tuebingen, Germany
        #contacts
          i.fa.fa-envelope
          p
            span wei.ding at tuebingen.mpg.de
            span  richard.neher at tuebingen.mpg.de
      .footer-right
        p.footer-company-about
          span About MPAV
          |         MPAV is an interactive platform for pan-genome exploration. It provides multiple different views on dozens of annotated genomes and allows rapid search by name, diversity, duplications, etc. Strain-specific meta data is integrated into the phylogenetic tree viewer such that associations of between gene presence and phenotypes can be spotted.
          |         Comments, suggestions for improvements, bug reports etc are welcome.
        .footer-icons
          div
            i.fa.fa-github 
            p 
              span  
                a(href='http://github.com/neherlab/pan-genome-visualization') pan-genome-visualization
              span 
                a(href='http://github.com/neherlab/pan-genome-analysis') pan-genome-analysis
