footer.footer-distributed
      .footer-left
        img(src='images/pan-white-out.svg', style='width:233;height:209px')
        p.footer-links
          a(href='#') Applications
          |         ·
          a(href='#') Pipeline
          |         ·
          a(href='#') Tutorials
        p.footer-company-name  Web-based software © 2016 Wei Ding
        p.footer-company-name  Logo design © 2016 Wei Ding and Meng Chen 
      .footer-center
        div
          i.fa.fa-map-marker
          p
            span  Max Planck Institute for Developmental Biology 
            span  Spemannstrasse 35, 72076 Tuebingen, Germany 
        #contacts
          i.fa.fa-envelope
          p
            span wei.ding at tuebingen.mpg.de 
            span  richard.neher at tuebingen.mpg.de 
      .footer-right
        p.footer-company-about
          span About MPAV
          |         MPAV is an open, active and fast growing project which responds positively to user demands. During the development stage, we have frequently adsorbed inspirations from researchers and clinicians in different universities and updated the web-service with their requirements.
          br
          |         Another aspiration of MPAV is to provide a platform for valuable data sharing (only with user permission), which will greatly facilitate the detection of meta-info associated evolutionary patterns and promote real-time outbreak surveillance.
        .footer-icons
          a(href='#')
            i.fa.fa-github