extends layout-wide

block content
    script.
      var speciesAbbr='HKFMRUKCJ_CampyJej_Basel'
    script(src='dataset/HKFMRUKCJ_CampyJej_Basel/metaConfiguration.js')
    script(src='dataset/HKFMRUKCJ_CampyJej_Basel/newColumnConfig.js')
