doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='javascripts/third_party/pace.min.js')
    //- link(rel="stylesheet", type="text/css", href="dist/all-edge.css")

    link(rel="stylesheet", type="text/css", href='stylesheets/pace-theme-center-atom.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css", href='stylesheets/bootstrap_customized.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/bootstrap-toggle.min.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/bootstrap-multiselect.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/nouislider.min.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/dc.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/dataTables.bootstrap.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/dataTables-customized.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/msa-new.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/d3-tip.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/page-appearance.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/autohiding-navbar2.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/footer.css')

    // footer icon and font
    link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    //link(rel='stylesheet', type='text/css', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/fontawesome-customized.css')
    link(rel="icon", type="image/png", href="images/pan-blue.png", sizes="32x32")
    title panX
  body
    include navbar
    .container
      .row
        br
        br
        br
        #logo.col-md-2
          img(src='images/pan-blue-noReads.svg', style='width:230;height:209px;')
          .col-md-2
        #dc_data_count.col-md-2
          .alert.alert-info(role='alert') Species
          #species-selector
          .dc_data_count
        .col-md-2
          .alert.alert-info(role='alert') Core vs. Accessory
          #dc_coreAcc_piechart
          .col-md-4#col-coreThreshold
            span#coreThreshold(data-toggle='tooltip', data-placement='bottom', title='coreThreshold ')
              | cutoff:0.99
          .col-md-6
            #changeCoreThreshold
        #dc_straincount_chart.col-md-3
          .alert.alert-info(role='alert') Gene count rank distribution
        #dc_geneLength_chart.col-md-3
          .alert.alert-info(role='alert') Gene length distribution

      .row.cs_shadow
        .col-md-6
          .alert.alert-info(role='alert') Gene cluster table
          table#dc_data_table.table.table-striped.table(cellspacing='0', width='100%')
        .col-md-6
          .alert.alert-info(role='alert')
            #sequence_viewer_title Sequence alignment
          #snippetDiv
      #all_trees.row.cs_shadow
        .col-md-6
          .alert.alert-info(role='alert')
            | Strain tree (SNPs in all core genes)
          .row
            #LeftTreeButtons.col-md-5(style='vertical-align: top')
              .col-md-3.triplet-button-group
                button.triplet-button-control.triplet-button-toggle.speciesTree(type='button') Layouts
                    span.fa.fa-plus.triplet-button(aria-hidden='true')
                ul#options.list-inline
                  li.option.speciesTree
                    button#speciesTreeRadial.triplet-button-single.option1(type='button') Radial
                  li.option.speciesTree
                    button#speciesTreeVertical.triplet-button-single.option2(type='button') Vertical
                  li.option.speciesTree
                    button#speciesTreeUnroot.triplet-button-single.option3(type='button')
                      img(src='images/unrooted_blue.png')
              //-input#TreeViewSelect.btn_tooltip.input(type='checkbox', data-toggle='toggle', data-style='ios', data-on='Circular', data-off='Vertical', data-size='mini', data-onstyle='primary', data-offstyle='info', text='layout')
              input#LabelsToggle.btn_tooltip(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='Label', data-off='Label', data-size='mini')
              input#InnerNodeToggle.btn_tooltip(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='Node', data-off='Node', data-size='mini')
              input#ScalesToggle.btn_tooltip(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='Scale', data-off='Scale', data-size='mini')
              button#Height_plus_Toggle.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-resize-full
              button#Height_minus_Toggle.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-resize-small
              //- span#treeLoader
            #tree_zoom.col-md-2.btn_tooltip
              input#tree_zoom_range.col-md-10(type='range', style='padding:0;')
              button#tree_zoom_reset.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-refresh
            #dropdown_list.col-md-3.btn_tooltip
            #download_coreTree.col-md-1.btn_tooltip
          .row
            .col-md-2
              br
              br
              br
              svg#coreTree_legend
            .col-md-10
              #speciesTreeDiv
                svg#speciesTree
        .col-md-6
          .alert.alert-info(role='alert')
            #genetree_title Gene tree (individual gene)
          .row
            .col-md-4
              #searchStrain-group.input-group
                span#sizing-addon1.input-group-addon.primary.sm-customized Search strain
                input.form-control.sm-customized(type='text', placeholder='NCBI accession number', aria-describedby='sizing-addon1',oninput='search(this.value)')
            #tree_rotate_div.col-md-1
              input#tree_rotate(type='checkbox', data-toggle='toggle', data-style='ios', data-on='left-right', data-off='right-left', data-size='mini', data-onstyle='primary', data-offstyle='info')
            .col-md-3.triplet-button-group
              button.triplet-button-control.triplet-button-toggle.geneTree(type='button') Layouts
                span.fa.fa-plus.triplet-button(aria-hidden='true')
              ul#options.list-inline
                li.option.geneTree
                  button#geneTreeRadial.triplet-button-single.option1(type='button') Radial
                li.option.geneTree
                  button#geneTreeVertical.triplet-button-single.option2(type='button') Vertical
                li.option.geneTree
                  button#geneTreeUnroot.triplet-button-single.option3(type='button')
                    img(src='images/unrooted_blue.png')
            //#dropdown_list2.col-md-4
            #download_geneTree.col-md-1.btn_tooltip
          .row
            .col-md-10
              #geneTreeDiv
                svg#geneTree
            .col-md-2
              br
              br
              br
              svg#legend2
      .row.cs_shadow
        .col-md-12
          .alert.alert-info(role='alert') Strain meta-info table
          table#dc_data_table_meta.table.table-striped.table(cellspacing='0', width='100%')
    include footer
    block content
    //- script(src='dist/all-edge.js')
    script(src='/dist/client_bundle.js')
    // script(src='javascripts/colors.js')
    // script(src='javascripts/species-list-info.js')
    // //script(src='javascripts/third_party/d3.min.js')
    // //script(src='javascripts/meta-color-process.js')
    // script(src='javascripts/third_party/wNumb.js')
    // script(src='javascripts/third_party/nouislider.min.js')
    // script(src='javascripts/third_party/jquery.min.js')
    // script(src='javascripts/third_party/lodash.min.js')
    // script(src='javascripts/third_party/bootstrap.min.js')
    // script(src='javascripts/third_party/bootstrap-toggle.min.js')
    // script(src='javascripts/third_party/bootstrap-multiselect.js')
    // script(src='javascripts/third_party/jquery.bootstrap-autohidingnavbar.min.js')
    // script(src='javascripts/third_party/call-autohidingnavbar.js')

    // script(src='javascripts/third_party/d3-tip.min.js')
    // script(src='javascripts/third_party/crossfilter.min.js')
    // script(src='javascripts/third_party/dc.min.js')

    // //- script(src='javascripts/third_party/jquery.dataTables.min.js')
    // //- script(src='javascripts/third_party/dataTables.scrollingPagination.js')
    // //- script(src='javascripts/third_party/dataTables.bootstrap.min.js')
    // //- script(src='javascripts/third_party/dataTables.autoFill.min.js')

    // script(src='javascripts/third_party/table_plugin/jquery.dataTables.min.js')
    // //script(src='javascripts/third_party/table_plugin/dataTables.buttons.min.js')
    // script(src='javascripts/third_party/table_plugin/dataTables.bootstrap.min.js')
    // script(src='javascripts/third_party/table_plugin/dataTables.colReorder.min.js')

    // script(src='javascripts/third_party/msa-new.js')
    // script(src='javascripts/third_party/tnt.tree.min.js')
    // script(src='javascripts/third_party/jquery.panzoom.min.js')
    // script(src='javascripts/data_path.js')
    // script(src='javascripts/tooltips.js')
    // script(src='javascripts/datatable-gc.js')
    // script(src='javascripts/tree-init.js')
    // script(src='javascripts/tree-view.js')
    // script(src='javascripts/chart_style.js')
    // script(src='javascripts/interact.js')
    // script(src='javascripts/meta-color-legend.js')
    // script(src='javascripts/render_viewer.js')
    // script(src='javascripts/datatable-meta.js')
