doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='javascripts/third_party/pace.min.js')
    //- link(rel="stylesheet", type="text/css", href="dist/all-edge.css")
    link(rel="stylesheet", type="text/css", href='stylesheets/pace-theme-center-atom.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css", href='stylesheets/bootstrap_customized.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/bootstrap-toggle.min.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/bootstrap-multiselect.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/nouislider.min.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/dc.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/dataTables.bootstrap.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/dataTables-customized.css')
    //-link(rel="stylesheet", type="text/css", href='stylesheets/select.bootstrap.css')
    //- link(rel="stylesheet", type="text/css", href='stylesheets/jquery.dataTables.min.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/msa-new.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/d3-tip.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/page-appearance.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/autohiding-navbar2.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/footer.css')

    // footer icon and font
    link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    //link(rel='stylesheet', type='text/css', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel="stylesheet", type="text/css", href='stylesheets/fontawesome-customized.css')
    link(rel="icon", type="image/png", href="images/pan-blue.png", sizes="32x32")
    title panX
  body
    include navbar
    .container
      .row
        br
        br
        br
        #logo.col-md-2
          img(src='images/pan-blue-noReads.svg', style='width:230;height:209px;')
          .col-md-2
        #dc_data_count.col-md-2
          .alert.alert-info(role='alert') Species
          #species-selector
          br
          .dc_data_count
        .col-md-2
          .alert.alert-info(role='alert') Core vs. Accessory
          #dc_coreAcc_piechart
          .col-md-4#col-coreThreshold
            span#coreThreshold(data-toggle='tooltip', data-placement='bottom', title='coreThreshold ')
              | cutoff:0.99
          .col-md-6
            #changeCoreThreshold
        #dc_straincount_chart.col-md-3
          .alert.alert-info(role='alert') Gene count rank distribution
        #dc_geneLength_chart.col-md-3
          .alert.alert-info(role='alert') Gene length distribution

      .row.cs_shadow
        .col-md-6
          .alert.alert-info(role='alert') Gene cluster table
          table#dc_data_table.table.table-striped.table(cellspacing='0', width='100%')
        .col-md-6
          .alert.alert-info(role='alert')
            #sequence_viewer_title Sequence alignment
          #snippetDiv
      #all_trees.row.cs_shadow
        .col-md-6
          .alert.alert-info(role='alert')
            | Strain tree (SNPs in all core genes)
          .row
            .col-md-7#LeftTreeButtons(style='vertical-align: top')
              .col-md-3.triplet-button-group
                button#speciesTreeLayouts.triplet-button-control.triplet-button-toggle.speciesTree.btn_tooltip(type='button') Layouts
                    span.fa.fa-plus.triplet-button-space(aria-hidden='true')
                ul#options.list-inline
                  li.option.speciesTree
                    button#speciesTreeRadial.triplet-button-single.option1(type='button')
                      img(src='images/radial.png')
                  li.option.speciesTree
                    button#speciesTreeVertical.triplet-button-single.option2(type='button')
                      img(src='images/vertical.png')
                  li.option.speciesTree
                    button#speciesTreeUnroot.triplet-button-single.option3(type='button')
                      img(src='images/unrooted.png')
              //-input#TreeViewSelect.btn_tooltip.input(type='checkbox', data-toggle='toggle', data-style='ios', data-on='Circular', data-off='Vertical', data-size='mini', data-onstyle='primary', data-offstyle='info', text='layout')
              input#speciesTreeScale.btn_tooltip(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='Scale', data-off='Scale', data-size='mini')
              input#speciesTreeLabels.btn_tooltip(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='Label', data-off='Label', data-size='mini')
              button#speciesTree_height_plus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-resize-full
              button#speciesTree_height_minus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-resize-small
              button#speciesTree_nodePlus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-plus
              button#speciesTree_nodeMinus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-minus
              button#speciesTreeZoomReset.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-refresh
              input#speciesTreeSynchr.btn_tooltip(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='Synchr', data-off='Synchr', data-size='mini')
            //- #tree_zoom.col-md-2.btn_tooltip
            //-   input#tree_zoom_range.col-md-10(type='range', style='padding:0;')

            #dropdown_list.col-md-3.btn_tooltip
            #download_coreTree.col-md-1.btn_tooltip
          .row
            .col-md-2
              //- br
              #colorblind_div(style='visibility: hidden;')
                input#colorblind_safe.btn_tooltip(type='checkbox', data-toggle='toggle', data-style='ios', data-on="<i class='glyphicon glyphicon-eye-open'></i>colorblind safe", data-off="<i class='glyphicon glyphicon-eye-open'></i>common color", data-size='mini',data-onstyle='success', data-offstyle='info')
              svg#coreTree_legend
            .col-md-10
              #speciesTreeDiv
                svg#speciesTree
        .col-md-6
          .alert.alert-info(role='alert')
            #genetree_title Gene tree (individual gene)
          .row
            .col-md-7#genetree_buttons
              .col-md-3.triplet-button-group
                button#geneTreeLayouts.triplet-button-control.triplet-button-toggle.geneTree.btn_tooltip(type='button') Layouts
                  span.fa.fa-plus.triplet-button-space(aria-hidden='true')
                ul#options.list-inline
                  li.option.geneTree
                    button#geneTreeRadial.triplet-button-single.triplet-button-single-toggle.option1(type='button')
                      img(src='images/radial.png')
                  li.option.geneTree
                    button#geneTreeVertical.triplet-button-single.triplet-button-single-toggle.option2(type='button')
                      img(src='images/vertical.png')
                  li.option.geneTree
                    button#geneTreeUnroot.triplet-button-single.triplet-button-single-toggle.option3(type='button')
                      img(src='images/unrooted.png')
              input#geneTreeScale.btn_tooltip(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='Scale', data-off='Scale', data-size='mini')
              input#geneTreeOrientation(type='checkbox', checked='', data-toggle='toggle', data-style='ios', data-on='right-left', data-off='left-right', data-size='mini', data-onstyle='primary', data-offstyle='info')
              button#geneTree_height_plus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-resize-full
              button#geneTree_height_minus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-resize-small
              button#geneTree_nodePlus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-plus
              button#geneTree_nodeMinus.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-minus
              button#geneTreeZoomReset.btn.btn-xs.btn-primary.btn_tooltip
                span.glyphicon.glyphicon-refresh
            //#dropdown_list2.col-md-4
            .col-md-2
              #searchAccession-group.input-group
                span.input-group-addon.primary.sm-customized
                  span.glyphicon.glyphicon-search
                input.form-control.sm-customized.tree_search(type='text', placeholder='accession', aria-describedby='sizing-addon1',oninput='search_accession(this.value)')
            .col-md-2
              #searchAnnotation-group.input-group
                span.input-group-addon.primary.sm-customized
                  span.glyphicon.glyphicon-search
                input.form-control.sm-customized.tree_search(type='text', placeholder='annotation', aria-describedby='sizing-addon1',oninput='search_annotation(this.value)')
            #download_geneTree.col-md-1.btn_tooltip
          .row
            .col-md-10
              #geneTreeDiv
                svg#geneTree
            .col-md-2
              br
              br
              br
              svg#legend2
      .row.cs_shadow
        .col-md-12
          .alert.alert-info(role='alert') Strain meta-info table
          table#dc_data_table_meta.table.table-striped.table(cellspacing='0', width='100%')
    include footer
    block content
    script(src='javascripts/species-list-info.js')
    script(src='/dist/client_bundle.js')
    script(src='javascripts/third_party/jquery.bootstrap-autohidingnavbar.min.js')
    script(src='javascripts/third_party/call-autohidingnavbar.js')