extends layout-wide

block content
    script.
      var speciesAbbr='Neisseria_gonorrhoeae_ECDC'
    script(src='dataset/Neisseria_gonorrhoeae_ECDC/metaConfiguration.js')
    script(src='dataset/Neisseria_gonorrhoeae_ECDC/newColumnConfig.js')
