html
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        block body
            a(href="/") Home
            ul(style={ columnns: 5, '-webkit-columns': 5, '-moz-columns': 5 })
              each pathogen in pathogens
                  li
                      a(href="/#{pathogen.pathogenName}") #{pathogen.pathogenName}
