doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='stylesheets/autohiding-navbar2.css', media='screen')
    link(rel='stylesheet', type='text/css', href='stylesheets/footer.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/page-appearance.css')
    link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    title panX

  body
    include navbar_pipeline
    .container
      br
      br
      .row
        nav#myScrollspy.col-sm-2
          ul.nav.nav-pills.nav-stacked.fixed-dropdown
            li.active
              a(href='#overview')  Pipeline overview
            li
              a(href='#benchmark') Benchmarking
        .col-sm-6.panX-text
          br
          .alert.alert-info(role='alert') Pipeline overview
          #overview
            p
              b Input:
              |  NCBI GenBank records or user's own genome sequences in GenBank format
            p
              b Clustering:
              |  DIAMOND + MCL + phylogeny-based post-processing
            .item
              figure
                img(src='./images/panX-pipeline.png', alt='...', style='width:100%;')
                br
                br
                figcaption
                  p.narrow Fig.1 An overview of pan-genome analysis and visualization pipeline.
                  p.narrow
                    a(href='https://github.com/neherlab/pan-genome-analysis')
                      u PanX analysis pipeline
                    |  is based on DIAMOND, MCL and phylogeny-aware post-processing to determine clusters of orthologous genes from a collection of annotated genomes. PanX generates a strain/species tree based on core genome SNPs and a gene tree for each gene cluster.
                  p.narrow
                    a(href='https://github.com/neherlab/pan-genome-visualization/')
                      u PanX interactive visualization:
                  p.narrow
                    b (1)
                    |  The dynamic pan-genome statistical charts allow rapid filtering and selection of gene subsets in the gene cluster table;
                  p.narrow clicking a gene cluster in the cluster table loads
                    b  (2)
                    |  corresponding alignment,
                    b  (3)
                    |  individual gene tree and
                    b  (4)
                    |  gene presence/absence and gain/loss pattern on strain/species tree;
                  p.narrow
                    b  (5)
                    |  Selecting sequences in alignment highlights associated strains on strain/species tree;
                  p.narrow
                    b  (6) (7)
                    |  Strain/species tree interacts with gene tree in various ways;
                  p.narrow
                    b  (8)
                    |  Zooming into a clade on strain/species tree screens strains in metadata table;
                  p.narrow
                    b  (9)
                    |  Searching in metadata table display strains associated with specific meta-information.
          br
          #benchmark
            .alert.alert-info.alert-large(role='alert') Benchmarking
            #simulation-data
              h4 Simulated datasets
              figure
                  img(src='./images/ms-benchmark-simulations.png', style='width:698px;height:488px;')
                  figcaption
                    a(href='https://academic.oup.com/nar/article/46/1/e5/4564799#107886318')
                     u Check here for details:  comparison of clustering accuracy on simulated datasets - Figure 2.
            br
            #real-data
              h4 Real datasets
              figure
                  img(src='./images/ms-benchmark-realdata.png', style='width:90%')
                  figcaption
                    a(href='https://academic.oup.com/nar/article/46/1/e5/4564799#107886318')
                      u Check here for details: real pan-genomes - Figure 4.

    include footer
    script(src='javascripts/third_party/jquery.min.js')
    script(src='javascripts/third_party/bootstrap.min.js')
    script(src='javascripts/third_party/jquery.bootstrap-autohidingnavbar.min.js')
    script(src='javascripts/third_party/call-autohidingnavbar.js')
