extends layout-wide

block content
    script.
      var speciesAbbr='S_pneumoniae616'
    script(src='dataset/S_pneumoniae616/metaConfiguration.js')
    script(src='dataset/S_pneumoniae616/newColumnConfig.js')
