extends layout-testa

block content
    script.
      var speciesAbbr='Ec_AMR_Meta'
    script(src='javascripts/meta-dict-Ec_AMR_Meta.js')
    //-   var speciesAbbr='Papn'
    //- script(src='javascripts/meta-dict-Papn.js')
