doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='stylesheets/autohiding-navbar2.css', media='screen')
    link(rel='stylesheet', type='text/css', href='stylesheets/footer.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/page-appearance.css')

    link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    title panX: pan-genome analysis & exploration

  body(data-spy='scroll', data-target='#myScrollspy', data-offset='100')
    include navbar_tutorial
    .container
      br
      br
      .row
        nav#myScrollspy.col-sm-2
          ul.nav.nav-pills.nav-stacked.fixed-dropdown
            li.active
              a(href='#components_interaction') Interactive components
            li
              a(href='#search_functions') Searching for genes
            li
              a(href='#duplicated_genes') Duplications
            li
              a(href='#diverse_genes') Diverse genes
            li
              a(href='#unique_genes') Unique genes
            li
              a(href='#annotation_inspection') Inspecting annotations
            li
              a(href='#meta-info_pattern') Meta-information

        .col-sm-10
          br
          #components_interaction
            .alert.alert-info(role='alert')
              | Exploring the interaction of different components

            .item
              img(data-gifffer='./images/overall2.gif', style='width:100%;')
            br
            br
          #search_functions
            .alert.alert-info(role='alert') Search genes by name or annotation
            .item
              img(data-gifffer='./images/searchBy.gif', alt='...', style='width:100%;')
            br
          #duplicated_genes
            .alert.alert-info(role='alert') Spotting duplicated genes
            p
            .item
              img(data-gifffer='./images/dupli.gif', alt='...', style='width:100%;')
            br
          #diverse_genes
            .alert.alert-info(role='alert') Spotting diverse genes
            p
            .item
              img(data-gifffer='./images/diverse.gif', alt='...', style='width:100%;')
            br
          #unique_genes
            .alert.alert-info(role='alert') Exploring unique genes
            p
            .item
              img(data-gifffer='./images/unique.gif', alt='...', style='width:100%;')
            br
          #annotation_inspection
            .alert.alert-info(role='alert')  Inspecting the annotation of all genes in each clusters
            p
            .item
              img(data-gifffer='./images/annotation.gif', alt='...', style='width:100%;')
            br
          #mutation_inspection
            .alert.alert-info(role='alert') Examining amino acid and nucleotide mutations in the gene tree
            p
            .item
              img(data-gifffer='./images/muts.gif', alt='...', style='width:100%;')
            br
          #meta-info_pattern
            .alert.alert-info(role='alert') Displaying strain specific meta-information on the core genome tree
            p
            img(data-gifffer='./images/interactive-metaInfo-pattern.gif', alt='...', style='width:100%;')
    include footer

    script(src='javascripts/third_party/gifffer.min.js')
    script.
      window.onload = function() {
      Gifffer();
      }

    script(src='javascripts/third_party/jquery.min.js')
    script(src='javascripts/third_party/bootstrap.min.js')
    script(src='javascripts/third_party/jquery.bootstrap-autohidingnavbar.min.js')
    script(src='javascripts/third_party/call-autohidingnavbar.js')