.bp-autocomplete-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    /* width: 250px; */
    white-space: nowrap;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;*/
    margin-top: 0px;
    background-color: #ffffff;
}

.bp-autocomplete-searching {
    color: #bp-acacac;
    font-size: 14px;
}

.bp-autocomplete-description {
    font-size: 14px;
}

.bp-autocomplete-row {
    padding-left: 5px;
    color: #555;
    margin-bottom: 4px;
}

.bp-autocomplete-selected-row, .bp-autocomplete-row:hover {
    background-color: #5BC0DE; /*#008ACF;*/
    color: #ffffff;
}

.bp-autocomplete-highlight {
    font-weight:bold;
    color: #175FDB/*#0000FF;*/
}
