/* .navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
  */
.navbar-default .navbar-brand {  /* S.aureusEvo */
  color: white;/*#0578C4;*/
  font-size:32px;
  font-family: Calibri;
  font-style:italic;
  /* font-weight:bold; */
  /* text-shadow: 4px 4px 6px rgba(87, 159, 255, 1); */

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
  background-color: transparent;
}


.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #044E8E;
  background-color: transparent;
}

/* setting of active navbar */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color:  #FFFFFF; /* #1F3E97; */
  background-color: #3193D4;
  font-weight:bold;
}

 .navbar-default .dropdown-menu > li > a:hover {
  background-color: #66aad6;

  color:#ffffff;
  background-image: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color:  #FFFFFF;
  background-color: transparent;
}

.navbar-default {
font-size:16px;
 font-weight: bold;
border-color:  #FFFFFF;
background-color: #99c9ea;
background-color: #66aad6;
}



