/* hide <div class="DTTT btn-group"></div> */
/* .btn-group, .btn-group-vertical {
display: none;
}*/

.DTTT.btn-group {
display: none;
}

/* header no padding */
table.dataTable thead>tr>th {
padding-left: 3px;
/* padding-right: 18px; */
}

/* row buttons in the middle*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
vertical-align: middle;
}

/*Fix?: IE dataTable expander width:0px takes much space*/
th.dup-details-control.sorting_disabled, ann-details-control {
	width: 1px;
}

/* highlight row_selected*/
tr.row_selected td{
	background-color:#008ACF !important;
  	color: white;
}
/* thead font-size */
th { 
	font-size: 14px;
	font-weight: normal; 
}