@import url("//fonts.googleapis.com/css?family=Lato:300,400,700");

/* font */
html {
  font-family: "proxima-nova", Arial,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "proxima-nova", Arial,sans-serif; 
  font-size: 15px;
  line-height: 1.42857143;
}/**/

#logo,#logo_footer h3{
  color:  #0000;/* #337AB7; */
  font: normal 70px 'Cookie', cursive; 
  margin: 0;
}

img{width: 100%;} /*max-width: 1363px; */

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.row {
margin-right: -10px;
margin-left: -10px;
}

span#coreThreshold {font-size: 0.8vw;  }
@media screen and (max-width: 1024px) {
    span#coreThreshold{font-size: 0.01vw;}
}

.col-md-4#col-coreThreshold { padding-left: 0;}

/*noUiSlider background color */
.noUi-connect { background:#2980B9;}

/* vertical noUiSlider */
#slider-vertical-range {
  height: 300px;/* margin: 0 auto 0px; */
}

/* table: annotation-details */
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
 tr:hover {background-color: #f5f5f5}

table.dataTable thead > tr > th {
    padding-left: 1px;
    padding-right: 18px;
}
/*table.dataTable th {
   text-align: left;
} */
/*table.dataTable thead > tr > th {
    text-align: left;
}*/


/* toggle-shape */
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;font-size:10px; }
/*.toggle.ios .toggle-handle { border-radius: 20px;font-weight: 100; }*/
#zoomin,#zoomout,.btn {border-radius: 20px} /*; height: 25px;*/
/*.btn.btn-info {border-radius: 2px;} */
.btn.btn-primary.btn-xs.btn-square {border-radius: 2px;}
/*.btn {border-radius: 50%;}*/
#accordion {width: 150px;}

/* treeLoader*/
#treeLoader{
  color:#428BCA;
  font-weight: 300; 
  padding-left: 5px;
}

/*searchStrain-group*/
.input-group-addon.primary {
  border-radius: 20px 0px 0px 20px;
  color: rgb(255, 255, 255);
  background-color: #428BCA;
  border-color: #428BCA; }

/*#meta-info dropdown_list;*/
.sm-customized, .form-control.sm-customized {
  height: 24px;
  padding: 1px 5px;
  font-size: 12px;}

#tree-viewer-button-groups {margin-left:15px}

/* btn size */ 
.btn-xs  {
  font-size:13px;
  /* line-height: 1.4; */
  /* background:  #008DDD; */
}

/*msa-button color
.smenubar .smenubar_alink {
  background:  red #337AB7; 
}*/

/* alert new */
.alert {
  padding: 5px 0 5px 15px; /* 15px; */
  margin-bottom: 15px;
  border: 1px solid transparent;
  /* font-size: 17px; */
  font-size: 0.9vw;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #5cb85c;
  border-color: transparent;
  color: #FFFFFF;
}
.alert-success hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-success .alert-link {
  color: #d2d2d2;
}
.alert-info {
  background-color: #66AAD6;  /* #248EC6 ; */ /* #4AB3EA; */ /* #1483D4; */  /* #34A7D6; */ /*  #66AAD6; */ /* #5bc0de; */
  border-color: transparent;
  color: #FFFFFF;
}
.alert-info hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-info .alert-link {
  color: #d2d2d2;
}
.alert-warning {
  background-color: #f0ad4e;
  border-color: transparent;
  color: #ebebeb;
}
.alert-warning hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-warning .alert-link {
  color: #d2d2d2;
}
.alert-danger {
  background-color: #d9534f;
  border-color: transparent;
  color: #ebebeb;
}
.alert-danger hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-danger .alert-link {
  color: #d2d2d2;
}

/* dataTable childRow */
td.ann-details-control, td.dup-details-control, td.geneName-details-control {
    background: url('../images/childRow_details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.ann-details-control, tr.shown td.dup-details-control, tr.shown td.geneName-details-control {
    background: url('../images/childRow_details_close.png') no-repeat center center;
}

@media (min-width: 1160px) {
	 div[class^="col"]{padding-left:10px; padding-right:10px;} /**/
    .container{
      /* max-width: 2000px; */
      width:85%;
      } /* 1160px 970px;  */ 
}

/* .x-axis-label {font-size: 1px;} */
/* #dc-straincount-chart .axis text {
  font-size: 1px;
} */

/*carousel
.carousel .item {
  background-color: #5EA4E9;
}*/

.carousel-control {
	background-color: rgba(94,164,233,0.5);
	/*#66AAD6;*/
}
/*.carousel .item {background-color: black;}*/
 
/* .carousel-control.right, .carousel-control.left {
  background-image:none;
} */

.carousel-control.left, .carousel-control.right{ 
background: none;/*rgba(94,164,233,0.9) ;/*!important; */
/*filter: progid:none !important; */
}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    /*background-color: #5EA4E9; #5EA4E9;  #0000ff; */
    background-color: rgba(70,70,70,.25);
}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: rgba(94,164,233,0.5); /*#5EA4E9;*/
}


/*slider style*/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 160px;
    margin-top: 7px
}
input[type=range]::-webkit-slider-runnable-track {
    width: 160px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    //padding: 10px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: steelblue;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 160px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: steelblue;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 160px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: steelblue;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


